* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

body {
    font-family: "Arial", sans-serif;
    color: #CCCCCC;
    background: #444444;
}

button {
    border: none;
    padding: 1em;
    color: #CCCCCC;
    border-radius: .25em;
}

.buttonUp {
    background: #00CC00;
    margin-top: .5em;
    margin-bottom: .5em;
    -webkit-box-shadow: 0px .25em .5em #818181;
    background: #555555
}

.buttonDown {
    background: #009999; /* light-blueish */
    margin-top: .75em;
    margin-bottom: .25em;
    -webkit-box-shadow: inset 0 0 .5em #000000;
}
